.header {
    border-bottom: 1px solid #ECECEC;
    @media screen and (max-width: 767px){
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;}
   
}
.header__navigation {
display: flex;
align-items: center;


}
.navigation {
display: flex;
align-items: center;

}

.nav__list {
    @media screen and (max-width: 767px) {
            display: none;
        }
    @media screen and (min-width: 768px){
        display: flex;

    }

}

.nav__item {
    @media screen and (max-width: 767px){
    display: none;}

    @media screen and (min-width: 768px) {
            margin-left: 50px;
        }
    
}
.contacs__item {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
            margin-left: 50px;
        }
}

.nav__list .nav__item:first-child {
    margin-left: 0px;
}


.logo {
    margin-right: 93px;
    font-family: var(--secondary-font-family);
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-decoration: none;
    display: inline;

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
        }
}

.logo__allocate {
    color: var(--color-btm-logo);
    font-family: var(--secondary-font-family);
}

.nav__link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: calc(16 / 14);
    text-decoration: none;
    color: var(--main-padge-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--animation-overlay);
    
    &:hover{
            color: var(--color-btm-logo);
        }

    &:focus {
        color: var(--color-btm-logo);
        }
}

.in-line {
color: var(--active-color-btm);
}



.nav__link.in-line::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-btm-logo);
}

.contacs {
    
    margin-left: auto;
    @media screen and (min-width: 1200px){
    display: flex;
    }
}
.contacs__item:first-child {
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-bottom: 0;}
}

.contacs__phone {
    padding: auto;
    height: 16px;
    width: 10px;
    fill: currentColor;
}

.contacs__mail {
    fill: currentColor;
    width: 16px;
    height: 12px;
}

.contacs__link {
    display: flex;
    color: var(--secondary-padge-color);
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-decoration: none;
    font-style: normal;
    align-items: center;
    gap: 10px;
    transition: color var(--animation-overlay);

    @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);

    }
    
&:hover { color: var(--color-btm-logo);}

&:focus {color: var(--color-btm-logo);}
    
}