.hero {

    max-width: 1600px;
    margin: 0px auto;
    padding:200px 0px ;
    text-align: center;
    background-color:var(--bg-img);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baground.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    color: var(--color-with);
    font-weight: 900;
    font-size: 44px;
    line-height: calc( 60 / 44 );
    letter-spacing: 0.06em;
    text-transform:uppercase;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
     }


.hero__btm {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    cursor: pointer;
    color: var(--color-with);
    background-color: var(--color-btm-logo);
    border-radius: 4px;
    border:inherit;
    padding: 10px 32px;
    transition: background-color var(--animation-overlay);

&:hover {background-color: var(--active-color-btm);}

&:focus {background-color: var(--active-color-btm);}
    
}
